<!DOCTYPE html>
<html>
	<head>
		<title>Music App</title>
		<link rel="stylesheet" type="text/css" href="app.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="music.js"></script>
	</head>
	<body ng-app="musicApp">
		<div ng-controller="dom">
			<div class="scale">
				<div ng-repeat="note in scaleIndex"><div id="{{note}}" class="box" ng-mouseover="playScaleNote(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in I"><div id="{{note}}" class="box" ng-mouseover="playINotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in II"><div id="{{note}}" class="box" ng-mouseover="playIINotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in III"><div id="{{note}}" class="box" ng-mouseover="playIIINotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in IV"><div id="{{note}}" class="box" ng-mouseover="playIVNotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in V"><div id="{{note}}" class="box" ng-mouseover="playVNotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in VI"><div id="{{note}}" class="box" ng-mouseover="playVINotes(note)"></div></div>
			</div>
			<div class="triad">
				<div ng-repeat="note in VII"><div id="{{note}}" class="box" ng-mouseover="playVIINotes(note)"></div></div>
			</div>
		</div>
	</body>
</html>